# Extract

## Header BS4

In [1]:
from bs4 import BeautifulSoup 
import pandas as pd

In [2]:
kml_file_path = 'D:\\programing\\Final Project\\EVChargePlanner\\data\\DC EV Charging Station Thailand - Piyamate Wisanuvej (1).kml'

with open(kml_file_path, 'rt', encoding='utf-8') as data:
    kml_soup = BeautifulSoup(data, 'lxml-xml')

In [3]:
folder = kml_soup.find_all("Folder")

## Extract individually

### PTT

In [4]:
ptt = folder[0]
columns = ['Name', 'Description', 'styleUrl','NameEN', 'Power', 'ChargeCoreDescription', 'Address', 'Latitude', 'Longitude', 'Provider', 'Coordinates']
ptt_df = pd.DataFrame(columns=columns)

for placemark in ptt.find_all("Placemark"):
    ptt_df = ptt_df._append({
        'Name' : placemark.find('name').text,
        'Description' : placemark.find('description').text,
        'styleUrl' : placemark.find('styleUrl').text,
        'NameEN' : placemark.find('Data', {'name': 'Name-EN'}).find('value').text,
        'Power' : placemark.find('Data', {'name': 'Power'}).find('value').text,
        'ChargeCoreDescription' : placemark.find('Data', {'name': 'Description'}).find('value').text,
        'Address' : placemark.find('Data', {'name': 'Address'}).find('value').text,
        'Latitude' : placemark.find('Data', {'name': 'Latitude'}).find('value').text,
        'Longitude' : placemark.find('Data', {'name': 'Longitude'}).find('value').text,
        'Provider' : placemark.find('Data', {'name': 'Provider'}).find('value').text,
        'Coordinates' : placemark.find('Point').find('coordinates').text

    }, ignore_index=True)
ptt_df.replace('', None, inplace=True)
ptt_df.isnull().sum()

Name                     0
Description              0
styleUrl                 0
NameEN                   0
Power                    0
ChargeCoreDescription    0
Address                  0
Latitude                 0
Longitude                0
Provider                 0
Coordinates              0
dtype: int64

### PEA

In [5]:
pea = folder[1]
columns = ['Name', 'Description', 'styleUrl', 'Power', 'Address', 'Latitude', 'Longitude', 'Provider', 'Coordinates']
pea_df = pd.DataFrame(columns=columns)

for placemark in pea.find_all("Placemark"):
    pea_df = pea_df._append({
        'Name' : placemark.find('name').text,
        'Description' : placemark.find('description').text,
        'styleUrl' : placemark.find('styleUrl').text,
        'Power' : placemark.find('Data', {'name': 'Power'}).find('value').text,
        'Address' : placemark.find('Data', {'name': 'Description'}).find('value').text,
        'Latitude' : placemark.find('Data', {'name': 'Latitude'}).find('value').text,
        'Longitude' : placemark.find('Data', {'name': 'Longitude'}).find('value').text,
        'Provider' : placemark.find('Data', {'name': 'Provider'}).find('value').text,
        'Coordinates' : placemark.find('Point').find('coordinates').text
    }, ignore_index=True)
pea_df.replace('', None, inplace=True)
pea_df.isnull().sum()

Name           0
Description    0
styleUrl       0
Power          0
Address        0
Latitude       0
Longitude      0
Provider       0
Coordinates    0
dtype: int64

### EleX

In [6]:
elex = folder[2]
columns = ['Name', 'Description', 'styleUrl', 'Power', 'ChargeCoreDescription', 'Address', 'Latitude', 'Longitude', 'Provider', 'Coordinates']
elex_df = pd.DataFrame(columns=columns)

for placemark in elex.find_all("Placemark"):
    elex_df = elex_df._append({
        'Name' : placemark.find('name').text,
        'Description' : placemark.find('description').text,
        'styleUrl' : placemark.find('styleUrl').text,
        'Power' : placemark.find('Data', {'name': 'Power'}).find('value').text,
        'ChargeCoreDescription' : placemark.find('Data', {'name': 'Description'}).find('value').text,
        'Address' : placemark.find('Data', {'name': 'Address'}).find('value').text,
        'Latitude' : placemark.find('Data', {'name': 'Latitude'}).find('value').text,
        'Longitude' : placemark.find('Data', {'name': 'Longitude'}).find('value').text,
        'Provider' : placemark.find('Data', {'name': 'Provider'}).find('value').text,
        'Coordinates' : placemark.find('Point').find('coordinates').text
    }, ignore_index=True)
elex_df.replace('', None, inplace=True)
elex_df.isnull().sum()

Name                     0
Description              0
styleUrl                 0
Power                    0
ChargeCoreDescription    0
Address                  0
Latitude                 0
Longitude                0
Provider                 0
Coordinates              0
dtype: int64

### Altervim

In [7]:
altervim = folder[3]
columns = ['Name', 'Description', 'styleUrl', 'NameEN', 'Power', 'ChargeCoreDescription', 'Address', 'Latitude', 'Longitude', 'Provider', 'Coordinates']
altervim_df = pd.DataFrame(columns=columns)

for placemark in altervim.find_all("Placemark"):
    altervim_df = altervim_df._append({
        'Name' : placemark.find('name').text,
        'Description' : placemark.find('description').text,
        'styleUrl' : placemark.find('styleUrl').text,
        'NameEN' : placemark.find('Data', {'name': 'Name-EN'}).find('value').text,
        'Power' : placemark.find('Data', {'name': 'Power'}).find('value').text,
        'ChargeCoreDescription' : placemark.find('Data', {'name': 'Description'}).find('value').text,
        'Address' : placemark.find('Data', {'name': 'Address'}).find('value').text,
        'Latitude' : placemark.find('Data', {'name': 'Latitude'}).find('value').text,
        'Longitude' : placemark.find('Data', {'name': 'Longitude'}).find('value').text,
        'Provider' : placemark.find('Data', {'name': 'Provider'}).find('value').text,
        'Coordinates' : placemark.find('Point').find('coordinates').text
    }, ignore_index=True)
altervim_df.replace('', None, inplace=True)
altervim_df.isnull().sum()

Name                     0
Description              0
styleUrl                 0
NameEN                   0
Power                    2
ChargeCoreDescription    0
Address                  0
Latitude                 0
Longitude                0
Provider                 0
Coordinates              0
dtype: int64

### EA

In [8]:
ea = folder[4]
columns = ['Name', 'Description', 'styleUrl', 'Hours', 'Power', 'ChargeCoreDescription', 'Address', 'Latitude', 'Longitude', 'Provider', 'Coordinates']
ea_df = pd.DataFrame(columns=columns)

for placemark in ea.find_all("Placemark"):
    ea_df = ea_df._append({
        'Name' : placemark.find('name').text,
        'Description' : placemark.find('description').text,
        'styleUrl' : placemark.find('styleUrl').text,
        'Hours' : placemark.find('Data', {'name': 'Hours'}).find('value').text,
        'Power' : placemark.find('Data', {'name': 'Power'}).find('value').text,
        'ChargeCoreDescription' : placemark.find('Data', {'name': 'Description'}).find('value').text,
        'Address' : placemark.find('Data', {'name': 'Address'}).find('value').text,
        'Latitude' : placemark.find('Data', {'name': 'Latitude'}).find('value').text,
        'Longitude' : placemark.find('Data', {'name': 'Longitude'}).find('value').text,
        'Provider' : placemark.find('Data', {'name': 'Provider'}).find('value').text,
        'Coordinates' : placemark.find('Point').find('coordinates').text
    }, ignore_index=True)
ea_df.replace('', None, inplace=True)
ea_df.isnull().sum()

Name                     0
Description              0
styleUrl                 0
Hours                    0
Power                    0
ChargeCoreDescription    0
Address                  0
Latitude                 0
Longitude                0
Provider                 0
Coordinates              0
dtype: int64

### etc.

In [9]:
etc = folder[5]
columns = ['Name', 'Description', 'styleUrl','NameEN', 'Power', 'ChargeCoreDescription', 'Address', 'Latitude', 'Longitude', 'Provider', 'Coordinates']
etc_df = pd.DataFrame(columns=columns)

for placemark in etc.find_all("Placemark"):
    etc_df = etc_df._append({
        'Name' : placemark.find('name').text,
        'Description' : placemark.find('description').text,
        'styleUrl' : placemark.find('styleUrl').text,
        'NameEN' : placemark.find('Data', {'name': 'Name-EN'}).find('value').text,
        'Power' : placemark.find('Data', {'name': 'Power'}).find('value').text,
        'ChargeCoreDescription' : placemark.find('Data', {'name': 'Description'}).find('value').text,
        'Address' : placemark.find('Data', {'name': 'Address'}).find('value').text,
        'Latitude' : placemark.find('Data', {'name': 'Latitude'}).find('value').text,
        'Longitude' : placemark.find('Data', {'name': 'Longitude'}).find('value').text,
        'Provider' : 'etc: ' + placemark.find('Data', {'name': 'Provider'}).find('value').text if placemark.find('Data', {'name': 'Provider'}).find('value').text else 'etc.',
        'Coordinates' : placemark.find('Point').find('coordinates').text 
    }, ignore_index=True)
etc_df.replace('', None, inplace=True)
etc_df.isnull().sum()

Name                       0
Description                0
styleUrl                   0
NameEN                   119
Power                     21
ChargeCoreDescription     30
Address                  109
Latitude                   0
Longitude                  0
Provider                   0
Coordinates                0
dtype: int64

### MG

In [10]:
mg = folder[6]
columns = ['Name', 'Description', 'styleUrl', 'Power', 'Dealership', 'ChargeCoreDescription', 'Address', 'Latitude', 'Longitude', 'Provider', 'Coordinates']
mg_df = pd.DataFrame(columns=columns)

for placemark in mg.find_all("Placemark"):
    mg_df = mg_df._append({
        'Name' : placemark.find('name').text,
        'Description' : placemark.find('description').text,
        'styleUrl' : placemark.find('styleUrl').text,
        'Power' : placemark.find('Data', {'name': 'Power'}).find('value').text,
        'Dealership' : placemark.find('Data', {'name': 'Dealership'}).find('value').text,
        'ChargeCoreDescription' : placemark.find('Data', {'name': 'Description'}).find('value').text,
        'Address' : placemark.find('Data', {'name': 'Address'}).find('value').text,
        'Latitude' : placemark.find('Data', {'name': 'Latitude'}).find('value').text,
        'Longitude' : placemark.find('Data', {'name': 'Longitude'}).find('value').text,
        'Provider' : placemark.find('Data', {'name': 'Provider'}).find('value').text,
        'Coordinates' : placemark.find('Point').find('coordinates').text
    }, ignore_index=True)
mg_df.replace('', None, inplace=True)
mg_df.isnull().sum()

Name                       0
Description                0
styleUrl                   0
Power                    126
Dealership                 0
ChargeCoreDescription    133
Address                    1
Latitude                   0
Longitude                  0
Provider                   0
Coordinates                0
dtype: int64

### Join Dataframe

In [11]:
#join all dataframe listed above by cross join method.
df = pd.concat([ptt_df, pea_df, elex_df, altervim_df, ea_df, etc_df, mg_df], axis=0).reset_index(drop=True)
df

,Name,Description,styleUrl,NameEN,Power,ChargeCoreDescription,Address,Latitude,Longitude,Provider,Coordinates,Hours,Dealership
0,ปตท บจ.ปฐมวิวัฒน์ 2018,Name-EN: PTT Pathomwiwat 2018<br>Power: 120 kW...,#icon-1899-DB4436-labelson,PTT Pathomwiwat 2018,120 kW,ChargeCore CCSx2: 2x CCS2 (1000V 200A),32/3 ม.2 ต.เจดีย์หัก อ.เมืองราชบุรี จ.ราชบุรี ...,13.544778,99.804667,PTT,"\n 99.804667,13.544778,0\n",NaN,NaN
1,ปตท สิชล,Name-EN: PTT Sichon<br>Power: 120 kW<br>Descri...,#icon-1899-DB4436-labelson,PTT Sichon,120 kW,ChargeCore NKR-ADC: 2x CCS2 (1000V 200A),40 ม.9 ต.สิชล อ.สิชล นครศรีธรรมราช 80120,9.003393696,99.8816567,PTT,"\n 99.8816567,9.003393696,0\n ...",NaN,NaN
2,ปตท บจ.พงษ์กิต 2 (หัวทะเล),"Name-EN: PTT Pongkit Co., Ltd. Branch 2 (Hua T...",#icon-1899-DB4436-labelson,"PTT Pongkit Co., Ltd. Branch 2 (Hua Talay)",120 kW,"ChargeCore NKR-ADC: 2x CCS2, Type 2 (1000V 200A)",สาขา 2 133 ม.1 ถ.ราชสีมา-โชคชัย ต.หนองบัวศาลา ...,14.9389399815351,102.132905062155,PTT,"\n 102.132905062155,14.938939981535...",NaN,NaN
3,โรบินสัน สไตล์ สมุทรปราการ,Name-EN: Robinson Lifestyle Samut Prakan<br>Po...,#icon-1899-DB4436-labelson,Robinson Lifestyle Samut Prakan,120 kW,"ChargeCore NKR: 2x CCS2, Type 2 (1000V 200A)",789 หมู่ 2 ถนนสุขุมวิท ตำบลท้ายบ้านใหม่ อำเภอเ...,13.5838097086702,100.609540438793,PTT,"\n 100.609540438793,13.583809708670...",NaN,NaN
4,ปตท กนิษฐาพาณิชย์,Name-EN: PTT NGV Station Kanittha Panich<br>Po...,#icon-1899-DB4436-labelson,PTT NGV Station Kanittha Panich,120 kW,ChargeCore CCSx2: 2x CCS2 (1000V 200A)\nCharge...,160/6 หมู่ที่ 2 ต.สวนใหญ่ อ.เมืองนนทบุรี จ.นนท...,13.8503351,100.4906831,PTT,"\n 100.4906831,13.8503351,0\n ...",NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1952,ฺบางจาก สายไหม 63,Power: <br>Dealership: Non-dealership<br>Descr...,#icon-1899-DB4436-labelson,NaN,None,None,529 หมู่ 1 ถ. สายไหม แขวงสายไหม เขตสายไหม กรุง...,13.92145,100.67558,MG,"\n 100.67558,13.92145,0\n",NaN,Non-dealership
1953,บางจาก ปากน้ำ,Power: <br>Dealership: Non-dealership<br>Descr...,#icon-1899-DB4436-labelson,NaN,None,None,125/2 ถนนสุขุมวิท ตำบลปากน้ำ อำเภอเมืองสมุทรปร...,13.596901,100.604198,MG,"\n 100.604198,13.596901,0\n",NaN,Non-dealership
1954,บางจาก พหลโยธิน กม.26,Power: <br>Dealership: Non-dealership<br>Descr...,#icon-1899-DB4436-labelson,NaN,None,None,พหลโยธิน 73 (ซอยหงวน เหวียนระวิ) แขวงสนามบิน เ...,13.936793,100.62448,MG,"\n 100.62448,13.936793,0\n",NaN,Non-dealership
1955,MG ออโต้เฮาส์ สระบุรี,Power: <br>Dealership: Dealership<br>Descripti...,#icon-1899-DB4436-labelson,NaN,None,None,111 หมู่ที่ 1 ตำบลคำพราน อำเภอวังม่วง จังหวัดส...,14.549055,100.938756,MG,"\n 100.938756,14.549055,0\n",NaN,Dealership
1956,บางจาก พระราม 2 (กม.12),Power: <br>Dealership: Non-dealership<br>Descr...,#icon-1899-DB4436-labelson,NaN,None,None,39/45 ถนนพระราม 2 แขวงแสมแดง เขตบางขุนเทียน กร...,13.618681,100.386575,MG,"\n 100.386575,13.618681,0\n",NaN,Non-dealership

In [12]:
df.isnull().sum()

Name                        0
Description                 0
styleUrl                    0
NameEN                   1129
Power                     149
ChargeCoreDescription     574
Address                   110
Latitude                    0
Longitude                   0
Provider                    0
Coordinates                 0
Hours                    1596
Dealership               1822
dtype: int64

In [13]:
df[df['ChargeCoreDescription'].isnull()]['Provider'].unique()

array(['PEA', 'etc: EVolt', 'etc: GWM', 'etc: Haup', 'etc: Tesla', 'MG'],
      dtype=object)

## Extract at Once

In [14]:
folder = kml_soup.find_all("Folder")
columns = ['Name', 'Description', 'styleUrl', 'NameEN', 'Power', 'ChargeCoreDescription', 'Address', 'Latitude', 'Longitude', 'Provider', 'Coordinates', 'Hours', 'Dealership']
df = pd.DataFrame(columns=columns)

for placemark in folder:
    Provider = placemark.find("name").text
    for placemark in placemark.find_all("Placemark"):
        try:
            placemark_name = placemark.find("name").text
            description = placemark.find("description").text
            if 'etc' in Provider:
                etcProvider = Provider + ':' + placemark.find('Data', {'name': 'Provider'}).find('value').text
            else:
                etcProvider = None
            styleUrl = placemark.find("styleUrl").text

            ExtendedData = placemark.find("ExtendedData")
            try:
                Name_EN = ExtendedData.find("Data", attrs={"name": "Name-EN"}).find("value").text
            except:
                Name_EN = None
            try:
                Power = ExtendedData.find("Data", attrs={"name": "Power"}).find("value").text
            except:
                Power = None
            try:
                if Provider == "PEA":
                    Charge_Core_Description = None
                else:
                    Charge_Core_Description = ExtendedData.find("Data", attrs={"name": "Description"}).find("value").text
            except:
                Charge_Core_Description = None
            try:
                Hours = ExtendedData.find("Data", attrs={"name": "Hours"}).find("value").text
            except:
                Hours = None
            try:
                Dealership = ExtendedData.find("Data", attrs={"name": "Dealership"}).find("value").text
            except:
                Dealership = None
            try:
                Address = ExtendedData.find("Data", attrs={"name": "Address"}).find("value").text
            except:
                Address = ExtendedData.find("Data", attrs={"name": "Description"}).find("value").text
            Latitude = ExtendedData.find("Data", attrs={"name": "Latitude"}).find("value").text
            Longitude = ExtendedData.find("Data", attrs={"name": "Longitude"}).find("value").text
            coordinates = placemark.find("Point").find("coordinates").text
        except:
            print(placemark)
        
        # Append values to the DataFrame
        df = df._append({
            'Name' : placemark_name, 
            'Description' : description, 
            'styleUrl' : styleUrl,
            'NameEN': Name_EN,
            'Power': Power,
            'ChargeCoreDescription': Charge_Core_Description,
            'Address': Address,
            'Latitude': Latitude,
            'Longitude': Longitude,
            'Provider': etcProvider if etcProvider else Provider,
            'Coordinates': coordinates,            
            'Hours': Hours,
            'Dealership' : Dealership,
        }, ignore_index=True)

df.replace('', None, inplace=True)
df

,Name,Description,styleUrl,NameEN,Power,ChargeCoreDescription,Address,Latitude,Longitude,Provider,Coordinates,Hours,Dealership
0,ปตท บจ.ปฐมวิวัฒน์ 2018,Name-EN: PTT Pathomwiwat 2018<br>Power: 120 kW...,#icon-1899-DB4436-labelson,PTT Pathomwiwat 2018,120 kW,ChargeCore CCSx2: 2x CCS2 (1000V 200A),32/3 ม.2 ต.เจดีย์หัก อ.เมืองราชบุรี จ.ราชบุรี ...,13.544778,99.804667,PTT,"\n 99.804667,13.544778,0\n",None,None
1,ปตท สิชล,Name-EN: PTT Sichon<br>Power: 120 kW<br>Descri...,#icon-1899-DB4436-labelson,PTT Sichon,120 kW,ChargeCore NKR-ADC: 2x CCS2 (1000V 200A),40 ม.9 ต.สิชล อ.สิชล นครศรีธรรมราช 80120,9.003393696,99.8816567,PTT,"\n 99.8816567,9.003393696,0\n ...",None,None
2,ปตท บจ.พงษ์กิต 2 (หัวทะเล),"Name-EN: PTT Pongkit Co., Ltd. Branch 2 (Hua T...",#icon-1899-DB4436-labelson,"PTT Pongkit Co., Ltd. Branch 2 (Hua Talay)",120 kW,"ChargeCore NKR-ADC: 2x CCS2, Type 2 (1000V 200A)",สาขา 2 133 ม.1 ถ.ราชสีมา-โชคชัย ต.หนองบัวศาลา ...,14.9389399815351,102.132905062155,PTT,"\n 102.132905062155,14.938939981535...",None,None
3,โรบินสัน สไตล์ สมุทรปราการ,Name-EN: Robinson Lifestyle Samut Prakan<br>Po...,#icon-1899-DB4436-labelson,Robinson Lifestyle Samut Prakan,120 kW,"ChargeCore NKR: 2x CCS2, Type 2 (1000V 200A)",789 หมู่ 2 ถนนสุขุมวิท ตำบลท้ายบ้านใหม่ อำเภอเ...,13.5838097086702,100.609540438793,PTT,"\n 100.609540438793,13.583809708670...",None,None
4,ปตท กนิษฐาพาณิชย์,Name-EN: PTT NGV Station Kanittha Panich<br>Po...,#icon-1899-DB4436-labelson,PTT NGV Station Kanittha Panich,120 kW,ChargeCore CCSx2: 2x CCS2 (1000V 200A)\nCharge...,160/6 หมู่ที่ 2 ต.สวนใหญ่ อ.เมืองนนทบุรี จ.นนท...,13.8503351,100.4906831,PTT,"\n 100.4906831,13.8503351,0\n ...",None,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1952,ฺบางจาก สายไหม 63,Power: <br>Dealership: Non-dealership<br>Descr...,#icon-1899-DB4436-labelson,None,None,None,529 หมู่ 1 ถ. สายไหม แขวงสายไหม เขตสายไหม กรุง...,13.92145,100.67558,MG,"\n 100.67558,13.92145,0\n",None,Non-dealership
1953,บางจาก ปากน้ำ,Power: <br>Dealership: Non-dealership<br>Descr...,#icon-1899-DB4436-labelson,None,None,None,125/2 ถนนสุขุมวิท ตำบลปากน้ำ อำเภอเมืองสมุทรปร...,13.596901,100.604198,MG,"\n 100.604198,13.596901,0\n",None,Non-dealership
1954,บางจาก พหลโยธิน กม.26,Power: <br>Dealership: Non-dealership<br>Descr...,#icon-1899-DB4436-labelson,None,None,None,พหลโยธิน 73 (ซอยหงวน เหวียนระวิ) แขวงสนามบิน เ...,13.936793,100.62448,MG,"\n 100.62448,13.936793,0\n",None,Non-dealership
1955,MG ออโต้เฮาส์ สระบุรี,Power: <br>Dealership: Dealership<br>Descripti...,#icon-1899-DB4436-labelson,None,None,None,111 หมู่ที่ 1 ตำบลคำพราน อำเภอวังม่วง จังหวัดส...,14.549055,100.938756,MG,"\n 100.938756,14.549055,0\n",None,Dealership
1956,บางจาก พระราม 2 (กม.12),Power: <br>Dealership: Non-dealership<br>Descr...,#icon-1899-DB4436-labelson,None,None,None,39/45 ถนนพระราม 2 แขวงแสมแดง เขตบางขุนเทียน กร...,13.618681,100.386575,MG,"\n 100.386575,13.618681,0\n",None,Non-dealership

In [15]:
df.isna().sum()

Name                        0
Description                 0
styleUrl                    0
NameEN                   1129
Power                     149
ChargeCoreDescription     574
Address                   110
Latitude                    0
Longitude                   0
Provider                    0
Coordinates                 0
Hours                    1596
Dealership               1822
dtype: int64

# Transform

# Load