# Fetch Function

In [1]:
import pandas as pd
from pymongo import MongoClient
import certifi

def fetchdata(collection_name:str) -> pd.DataFrame:
    try:
        client = MongoClient('mongodb+srv://evstation:evstation2024@atlascluster.hkkdu8u.mongodb.net/',  tlsCAFile = certifi.where())
        print("---Connection Successful---")
        database = client['RawEVstationData']
        collection = database[collection_name]
        data = collection.find()
        data = pd.DataFrame(list(data))
        data = data.replace('',None)
        data.drop(['_id'], axis=1, inplace=True)

        return data

    except:
        print("Connection Fail")
        
        return None

# Station

## PTT

In [2]:
ptt_data = fetchdata('PTT')
ptt_data.head(3)

---Connection Successful---

,Name,Description,styleUrl,NameEN,Power,ChargeCoreDescription,Address,Latitude,Longitude,Provider,Coordinates
0,ปตท บจ.พงษ์กิต 7 (บายพาส),Name-EN: PTT Pongkit Branch 7 (Bypass)<br>Powe...,#icon-1899-DB4436-labelson,PTT Pongkit Branch 7 (Bypass),120 kW,ChargeCore NKR-ADC: 2x CCS2 (1000V 200A),สาขา 7 325 ม.1 ต.ปรุใหญ่ อ.เมืองนครราชสีมา นคร...,14.986124,102.052181,PTT,"\n 102.0521814,14.98612444,0\n ..."
1,โรบินสัน สไตล์ สมุทรปราการ,Name-EN: Robinson Lifestyle Samut Prakan<br>Po...,#icon-1899-DB4436-labelson,Robinson Lifestyle Samut Prakan,120 kW,"ChargeCore NKR: 2x CCS2, Type 2 (1000V 200A)",789 หมู่ 2 ถนนสุขุมวิท ตำบลท้ายบ้านใหม่ อำเภอเ...,13.583810,100.609540,PTT,"\n 100.609540438793,13.583809708670..."
2,ปตท ราษฎร์บูรณะ ขาออก,Name-EN: PTT Rat Burana (OB)<br>Power: 120 kW<...,#icon-1899-DB4436-labelson,PTT Rat Burana (OB),120 kW,ChargeCore NKR-ADC: 2x CCS2 (1000V 200A)\nIOCh...,193/2 ถ.ราษฎร์บูรณะ แขวงบางปะกอก เขตราษฎร์บูรณ...,13.683377,100.499078,PTT,"\n 100.499078,13.683377,0\n"

### ChargeCoreDescription

In [3]:
ptt_chargecore = ptt_data['ChargeCoreDescription'].apply(lambda x : x.lower())
ptt_chargecore

0               chargecore nkr-adc: 2x ccs2 (1000v 200a)
1           chargecore nkr: 2x ccs2, type 2 (1000v 200a)
2      chargecore nkr-adc: 2x ccs2 (1000v 200a)\nioch...
3                   chargecore nkr: 2x ccs2 (1000v 200a)
4           chargecore nkr: 2x ccs2, type 2 (1000v 200a)
                             ...
711     chargecore nkr-adc: 2x ccs2, type 2 (1000v 200a)
712               chargecore ccsx2: 2x ccs2 (1000v 200a)
713         chargecore nkr: 2x ccs2, type 2 (1000v 200a)
714    starcharge jupiter120: 2x ccs2, type 2 (1000v ...
715         chargecore nkr: 2x ccs2, type 2 (1000v 200a)
Name: ChargeCoreDescription, Length: 716, dtype: object

In [4]:
ptt_chargecore.apply(lambda x : 'type2' in x.lower().replace(' ','') if type(x) == str else False).sum()

376

In [5]:
ccs2_list = []
type2_list = []

#count ccs2 and type2 charger type
for row in ptt_chargecore.to_list():
    chargelist = []
    splited_comma = row.split(',')
    for i in splited_comma:
        splited_line = i.split('\n')
        for j in splited_line:
            chargelist.append(j)
    
    ccs2_count = 0
    type2_count = 0
    for chargetype in chargelist:
        if 'ccs2' in chargetype.lower().replace(' ',''):
            if 'x' in chargetype:
                before_x = chargetype[chargetype.index('x') - 1]
                after_x = chargetype[chargetype.index('x') + 1]
                if before_x.isdigit():
                    ccs2_count += int(before_x)
                elif after_x.isdigit():
                    ccs2_count += int(after_x)
                else:
                    ccs2_count += 2
            else:
                ccs2_count += 2

        elif 'type2' in chargetype.lower().replace(' ',''):
            if 'x' in chargetype:
                before_x = chargetype[chargetype.index('x') - 1]
                after_x = chargetype[chargetype.index('x') + 1]
                if before_x.isdigit():
                    type2_count += int(before_x)
                elif after_x.isdigit():
                    type2_count += int(after_x)
            else:
                type2_count += 1
    
    ccs2_list.append(ccs2_count)
    type2_list.append(type2_count)

In [6]:
ptt_data['Type1'] = ptt_data['ChargeCoreDescription'].apply(lambda x : 'type1' in x.lower().replace(' ','') if type(x) == str else None)
ptt_data['Type1Count'] = [None] * len(ptt_data)
ptt_data['Type2'] = ptt_data['ChargeCoreDescription'].apply(lambda x : 'type2' in x.lower().replace(' ','') if type(x) == str else None)
ptt_data['Type2Count'] = type2_list
ptt_data['CCS2'] = ptt_data['ChargeCoreDescription'].apply(lambda x : 'ccs2' in x.lower().replace(' ','') if type(x) == str else None)
ptt_data['CCS2Count'] = ccs2_list
ptt_data.head(3)

,Name,Description,styleUrl,NameEN,Power,ChargeCoreDescription,Address,Latitude,Longitude,Provider,Coordinates,Type1,Type1Count,Type2,Type2Count,CCS2,CCS2Count
0,ปตท บจ.พงษ์กิต 7 (บายพาส),Name-EN: PTT Pongkit Branch 7 (Bypass)<br>Powe...,#icon-1899-DB4436-labelson,PTT Pongkit Branch 7 (Bypass),120 kW,ChargeCore NKR-ADC: 2x CCS2 (1000V 200A),สาขา 7 325 ม.1 ต.ปรุใหญ่ อ.เมืองนครราชสีมา นคร...,14.986124,102.052181,PTT,"\n 102.0521814,14.98612444,0\n ...",False,None,False,0,True,2
1,โรบินสัน สไตล์ สมุทรปราการ,Name-EN: Robinson Lifestyle Samut Prakan<br>Po...,#icon-1899-DB4436-labelson,Robinson Lifestyle Samut Prakan,120 kW,"ChargeCore NKR: 2x CCS2, Type 2 (1000V 200A)",789 หมู่ 2 ถนนสุขุมวิท ตำบลท้ายบ้านใหม่ อำเภอเ...,13.583810,100.609540,PTT,"\n 100.609540438793,13.583809708670...",False,None,True,1,True,2
2,ปตท ราษฎร์บูรณะ ขาออก,Name-EN: PTT Rat Burana (OB)<br>Power: 120 kW<...,#icon-1899-DB4436-labelson,PTT Rat Burana (OB),120 kW,ChargeCore NKR-ADC: 2x CCS2 (1000V 200A)\nIOCh...,193/2 ถ.ราษฎร์บูรณะ แขวงบางปะกอก เขตราษฎร์บูรณ...,13.683377,100.499078,PTT,"\n 100.499078,13.683377,0\n",False,None,True,1,True,2

## Altervim

In [7]:
altervim_data = fetchdata('Altervim')
altervim_data.head(3)

---Connection Successful---

,Name,Description,styleUrl,NameEN,Power,ChargeCoreDescription,Address,Latitude,Longitude,Provider,Coordinates
0,โลตัส นอร์ธ ราชพฤกษ์,Name-EN: Lotus's North Ratchapruek<br>Power: 1...,#icon-1899-DB4436-labelson,Lotus's North Ratchapruek,150 kW,"4x CCS2: 150 kW (1000V 200A), 2x Type2: 11 kW","ถนนราชพฤกษ์, ตำบลอ้อมเกร็ด อำเภอปากเกร็ด นนทบุ...",13.912543,100.451431,Altervim,"\n 100.451431353182,13.912543307461..."
1,โลตัส สุขุมวิท50,Name-EN: Lotus's Sukhumvit 50<br>Power: 150 kW...,#icon-1899-DB4436-labelson,Lotus's Sukhumvit 50,150 kW,"2x CCS2: 150 kW (1000V 200A), Type2: 11 kW",เลขที่ 1710 ถ.สุขุมวิท 50 แขวงพระโขนง เขตคลองเ...,13.705245,100.600424,Altervim,"\n 100.600424005996,13.705245160430..."
2,โลตัส บางกะปิ,Name-EN: Lotus's Bangkapi<br>Power: 150 kW<br>...,#icon-1899-DB4436-labelson,Lotus's Bangkapi,150 kW,"2x CCS2: 150 kW (1000V 200A), Type2: 11 kW",3109 ถ. ลาดพร้าว แขวงคลองจั่น เขตบางกะปิ กรุงเ...,13.769290,100.644905,Altervim,"\n 100.644905448156,13.769290138682..."

### ChargeCoreDescription

In [8]:
altervim_chargecore = altervim_data['ChargeCoreDescription'].apply(lambda x : x.lower())
altervim_chargecore

0     4x ccs2: 150 kw (1000v 200a), 2x type2: 11 kw
1        2x ccs2: 150 kw (1000v 200a), type2: 11 kw
2        2x ccs2: 150 kw (1000v 200a), type2: 11 kw
3        2x ccs2: 150 kw (1000v 200a), type2: 11 kw
4        2x ccs2: 150 kw (1000v 200a), type2: 11 kw
                          ...
95                     2x ccs2: 60 kw, type2: 11 kw
96                     2x ccs2: 60 kw, type2: 11 kw
97       2x ccs2: 150 kw (1000v 200a), type2: 11 kw
98       2x ccs2: 150 kw (1000v 200a), type2: 11 kw
99                     2x ccs2: 60 kw, type2: 11 kw
Name: ChargeCoreDescription, Length: 100, dtype: object

In [9]:
ccs2_list = []
type2_list = []

for row in altervim_chargecore.apply(lambda x : x.split(',')).to_list():
    for chargetype in row:
        if 'ccs2' in chargetype.lower().replace(' ',''):
            if 'x' in chargetype:
                before_x = chargetype[chargetype.index('x') - 1]
                after_x = chargetype[chargetype.index('x') + 1]
                if before_x.isdigit():
                    ccs2_list.append(before_x)
                elif after_x.isdigit():
                    ccs2_list.append(after_x)
                else:
                    ccs2_list.append(2)
            else:
                ccs2_list.append(2)
        elif 'type2' in chargetype.lower().replace(' ',''):
            if 'x' in chargetype:
                before_x = chargetype[chargetype.index('x') - 1]
                after_x = chargetype[chargetype.index('x') + 1]
                if before_x.isdigit():
                    type2_list.append(before_x)
                elif after_x.isdigit():
                    type2_list.append(after_x)
                else:
                    type2_list.append(1)
            else:
                type2_list.append(1)

In [10]:
altervim_data['Type1'] = altervim_data['ChargeCoreDescription'].apply(lambda x : 'type1' in x.lower().replace(' ','') if type(x) == str else None)
altervim_data['Type1Count'] = [None] * len(altervim_data)
altervim_data['Type2'] = altervim_data['ChargeCoreDescription'].apply(lambda x : 'type2' in x.lower().replace(' ','') if type(x) == str else None)
altervim_data['Type2Count'] = type2_list
altervim_data['CCS2'] = altervim_data['ChargeCoreDescription'].apply(lambda x : 'ccs2' in x.lower().replace(' ','') if type(x) == str else None)
altervim_data['CCS2Count'] = ccs2_list
altervim_data.head(3)

,Name,Description,styleUrl,NameEN,Power,ChargeCoreDescription,Address,Latitude,Longitude,Provider,Coordinates,Type1,Type1Count,Type2,Type2Count,CCS2,CCS2Count
0,โลตัส นอร์ธ ราชพฤกษ์,Name-EN: Lotus's North Ratchapruek<br>Power: 1...,#icon-1899-DB4436-labelson,Lotus's North Ratchapruek,150 kW,"4x CCS2: 150 kW (1000V 200A), 2x Type2: 11 kW","ถนนราชพฤกษ์, ตำบลอ้อมเกร็ด อำเภอปากเกร็ด นนทบุ...",13.912543,100.451431,Altervim,"\n 100.451431353182,13.912543307461...",False,None,True,2,True,4
1,โลตัส สุขุมวิท50,Name-EN: Lotus's Sukhumvit 50<br>Power: 150 kW...,#icon-1899-DB4436-labelson,Lotus's Sukhumvit 50,150 kW,"2x CCS2: 150 kW (1000V 200A), Type2: 11 kW",เลขที่ 1710 ถ.สุขุมวิท 50 แขวงพระโขนง เขตคลองเ...,13.705245,100.600424,Altervim,"\n 100.600424005996,13.705245160430...",False,None,True,1,True,2
2,โลตัส บางกะปิ,Name-EN: Lotus's Bangkapi<br>Power: 150 kW<br>...,#icon-1899-DB4436-labelson,Lotus's Bangkapi,150 kW,"2x CCS2: 150 kW (1000V 200A), Type2: 11 kW",3109 ถ. ลาดพร้าว แขวงคลองจั่น เขตบางกะปิ กรุงเ...,13.769290,100.644905,Altervim,"\n 100.644905448156,13.769290138682...",False,None,True,1,True,2

## etc

In [11]:
etc_data = fetchdata('etc')
etc_data.head(3)

---Connection Successful---

,Name,Description,styleUrl,NameEN,Power,ChargeCoreDescription,Address,Latitude,Longitude,Provider,Coordinates
0,กรมส่งเสริมอุตสาหกรรม พระราม 6,Name-EN: <br>Power: 10 kW<br>Description: <br>...,#icon-1899-DB4436-labelson,None,10 kW,None,None,13.762979,100.527844,etc: EVolt,"\n 100.527844,13.762979,0\n"
1,กรมส่งเสริมอุตสาหกรรม กล้วยน้ำไท,Name-EN: <br>Power: 10 kW<br>Description: <br>...,#icon-1899-DB4436-labelson,None,10 kW,None,None,13.709785,100.585818,etc: EVolt,"\n 100.585818,13.709785,0\n"
2,ศูนย์ส่งเสริมอุตสาหกรรม ขอนแก่น,Name-EN: <br>Power: 10 kW<br>Description: <br>...,#icon-1899-DB4436-labelson,None,10 kW,None,None,16.563125,102.822762,etc: EVolt,"\n 102.822762,16.563125,0\n"

In [12]:
etc_data['Provider'].value_counts()

Provider
etc: Sharge       42
etc: GWM          21
etc: EVolt        20
etc: Tesla        15
etc: Galvanic     14
etc: MEA          12
etc: OneCharge     4
etc: Haup          2
etc.               1
Name: count, dtype: int64

### etc: Sharge

In [13]:
sharge = etc_data[etc_data['Provider'] == 'etc: Sharge']['ChargeCoreDescription'].apply(lambda x : x.split(',')).to_list()
sharge

[['CCS2: 50 kW', ' CHAdeMO: 50 kW', ' Type2: 22 kW', ' Type2: 50 kW'],
 ['2x CCS2: 60 kW', ' Type2: 22 kW'],
 ['2x CCS2: 60 kW', ' Type2: 22 kW'],
 ['2x CCS2: 60 kW', ' Type2: 22 kW'],
 ['2x CCS2: 60 kW'],
 ['2x CCS2: 60 kW', ' 2x Type2: 22 kW'],
 ['2x CCS2: 60 kW', ' 2x Type2: 22 kW'],
 ['2x CCS2: 60 kW', ' 2x Type2: 22 kW'],
 ['2x CCS2: 60 kW', ' 2x Type2: 22 kW'],
 ['2x CCS2: 60 kW', ' 2x Type2: 22 kW'],
 ['2x CCS2: 60 kW', ' 2x Type2: 22 kW'],
 ['2x CCS2: 60 kW', ' 2x Type2: 22 kW'],
 ['2x CCS2: 60 kW', ' 2x Type2: 22 kW'],
 ['2x CCS2: 60 kW', ' 2x Type2: 22 kW'],
 ['2x CCS2: 60 kW', ' 2x Type2: 22 kW'],
 ['2x CCS2: 60 kW', ' 2x Type2: 22 kW'],
 ['2x CCS2: 60 kW', ' 2x Type2: 22 kW'],
 ['2x CCS2: 60 kW', ' 2x Type2: 22 kW'],
 ['2x CCS2: 60 kW', ' 2x Type2: 22 kW'],
 ['2x CCS2: 60 kW', ' 2x Type2: 22 kW'],
 ['CCS2: 90 kW', ' CHAdeMO: 90 kW', ' Type2: 90 kW'],
 ['CCS2: 50 kW', ' Type2: 22 kW'],
 ['CCS2: 50 kW', ' Type2: 22 kW'],
 ['CCS2: 50 kW', ' Type2: 22 kW'],
 ['2x CCS2: 180 kW'],
 ['2x CCS2: 90 kW'],
 ['2x CCS2: 90 kW', ' 2x Type2: 22 kW'],
 ['2x CCS2: 90 kW'],
 ['2x CCS2: 90 kW'],
 ['2x CCS2: 90 kW'],
 ['2x CCS2: 90 kW'],
 ['2x CCS2: 90 kW'],
 ['2x CCS2: 90 kW'],
 ['2x CCS2: 90 kW'],
 ['2x CCS2: 90 kW'],
 ['2x CCS2: 90 kW'],
 ['2x CCS2: 180 kW'],
 ['2x CCS2: 90 kW'],
 ['2x CCS2: 90 kW'],
 ['2x CCS2: 90 kW'],
 ['2x CCS2: 90 kW'],
 ['2x CCS2: 90 kW']]

### etc: GWM

In [14]:
etc_data[etc_data['Provider'] == 'etc: GWM']['ChargeCoreDescription'].to_list()

['6x CCS2',
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None]

### etc: EVolt

In [15]:
etc_data[etc_data['Provider'] == 'etc: EVolt']['ChargeCoreDescription'].to_list()

[None,
 None,
 None,
 None,
 None,
 '1x CCS2',
 '1x CCS2',
 None,
 '2x CCS2',
 '2x CCS2',
 None,
 '2x CCS2',
 '2x CCS2',
 '2x CCS2',
 '2x CCS2',
 '2x CCS2',
 '2x CCS2',
 '2x CCS2',
 '2x CCS2',
 '2x CCS2']

### etc: Tesla

In [16]:
etc_data[etc_data['Provider'] == 'etc: Tesla']['ChargeCoreDescription'].to_list()

['11 Superchargers, 10:00am - 10:00pm, 3rd floor parking lot',
 '8 Superchargers, available 24/7, B1 floor parking lot A15-A16',
 '10 Superchargers, 10:00am - 10:00pm, 2nd floor parking lot D6-E6',
 '8 Superchargers, available 24/7, Outdoor parking',
 '9 Superchargers, available 24/7, B1 floor parking lot G36-G37 & F36-F38',
 '4 Superchargers, 10:00am - 10:00pm, 1st floor parking lot F09',
 '6 Superchargers, available 24/7, B1 (LG) floor parking lot',
 '8 Superchargers, 10:00am - 10:00pm, G floor parking lot (Star Zone) 47b-47e',
 '12 Superchargers, available 24/7, 6th floor parking lot C05-C07',
 '8 Superchargers, 10:00am - 9:00pm, Parking B building, 3rd floor',
 '12 Superchargers, available 24/7',
 '6 Superchargers, available 24/7, Parking Zone B near Cafe Amazon',
 '6 Superchargers',
 None,
 None]

### etc: Galvanic

In [17]:
etc_data[etc_data['Provider'] == 'etc: Galvanic']['ChargeCoreDescription'].to_list()

['CCS2: 30 kW, Type2: 22 kW',
 '2x CCS2: 47 kW',
 'CCS2: 30 kW, Type2: 22 kW',
 '2x CCS2: 120 kW',
 '6x CCS2: 120 kW',
 'CCS2: 15 kW, Type2: 7 kW',
 '2x CCS2: 120 kW',
 'CCS2: 30 kW',
 'CCS2: 30 kW, Type2: 22 kW',
 '2x CCS2: 40 kW, 4x CCS2: 60 kW, 4x Type2: 22 kW, Type2: 7 kW',
 'CCS2: 60 kW, Type2: 22 kW',
 'CCS2: 50 kW, CHAdeMO: 50 kW, Type2: 22 kW',
 'CCS2: 30 kW',
 '2x CCS2: 47 kW, 2x Type2: 22 kW']

### etc: MEA

In [18]:
etc_data[etc_data['Provider'] == 'etc: MEA']['ChargeCoreDescription'].to_list()

['CCS2, CHAdeMO, Type 2',
 '4x CCS2, 2x Type 2',
 'CCS2, CHAdeMO, Type 2',
 'CCS2, Type 2',
 'CCS2, CHAdeMO, Type 2',
 'CCS2, CHAdeMO, Type 2',
 'CCS2, CHAdeMO, Type 2',
 'CCS2, CHAdeMO, Type 2',
 '3x CCS2, CHAdeMO, 5x Type 2',
 'CCS2, CHAdeMO, Type 2',
 'CCS2, Type 2',
 'CCS2, 3x Type 2']

### etc: OneCharge

In [19]:
etc_data[etc_data['Provider'] == 'etc: OneCharge']['ChargeCoreDescription'].to_list()

['1x CCS2', '1x CCS2', '1x CCS2', '1x CCS2']

### etc: Haup

In [20]:
etc_data[etc_data['Provider'] == 'etc: Haup']['ChargeCoreDescription'].to_list()

['ชั้น 2', None]

### etc.

In [21]:
etc_data[etc_data['Provider'] == 'etc.']['ChargeCoreDescription'].to_list()

['2x CCS2']

### ALL

In [22]:
etc_chargecore = etc_data['ChargeCoreDescription'].apply(lambda x : None if x == 'ชั้น 2' else x).apply(lambda x : x.split(',') if x is not None else x).to_list()
etc_chargecore

[None,
 None,
 None,
 None,
 None,
 ['6x CCS2'],
 None,
 None,
 None,
 ['1x CCS2'],
 ['1x CCS2'],
 None,
 ['2x CCS2'],
 None,
 None,
 ['2x CCS2'],
 None,
 None,
 ['2x CCS2'],
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 ['2x CCS2'],
 ['2x CCS2'],
 ['2x CCS2'],
 ['2x CCS2'],
 ['2x CCS2'],
 ['2x CCS2'],
 ['2x CCS2'],
 ['2x CCS2'],
 ['11 Superchargers', ' 10:00am - 10:00pm', ' 3rd floor parking lot'],
 ['8 Superchargers', ' available 24/7', ' B1 floor parking lot A15-A16'],
 ['10 Superchargers', ' 10:00am - 10:00pm', ' 2nd floor parking lot D6-E6'],
 ['8 Superchargers', ' available 24/7', ' Outdoor parking'],
 ['9 Superchargers',
  ' available 24/7',
  ' B1 floor parking lot G36-G37 & F36-F38'],
 ['4 Superchargers', ' 10:00am - 10:00pm', ' 1st floor parking lot F09'],
 ['6 Superchargers', ' available 24/7', ' B1 (LG) floor parking lot'],
 ['8 Superchargers',
  ' 10:00am - 10:00pm',
  ' G floor parking lot (Star Zone) 47b-47e'],
 ['12 Superchargers', ' available 24/7', ' 6th floor parking lot C05-C07'],
 ['8 Superchargers', ' 10:00am - 9:00pm', ' Parking B building', ' 3rd floor'],
 ['CCS2', ' CHAdeMO', ' Type 2'],
 ['4x CCS2', ' 2x Type 2'],
 ['CCS2', ' CHAdeMO', ' Type 2'],
 ['CCS2', ' Type 2'],
 ['CCS2', ' CHAdeMO', ' Type 2'],
 ['CCS2', ' CHAdeMO', ' Type 2'],
 ['CCS2', ' CHAdeMO', ' Type 2'],
 ['CCS2', ' CHAdeMO', ' Type 2'],
 ['3x CCS2', ' CHAdeMO', ' 5x Type 2'],
 ['CCS2', ' CHAdeMO', ' Type 2'],
 ['CCS2', ' Type 2'],
 ['CCS2', ' 3x Type 2'],
 ['2x CCS2'],
 ['CCS2: 50 kW', ' CHAdeMO: 50 kW', ' Type2: 22 kW', ' Type2: 50 kW'],
 ['2x CCS2: 60 kW', ' Type2: 22 kW'],
 ['2x CCS2: 60 kW', ' Type2: 22 kW'],
 ['2x CCS2: 60 kW', ' Type2: 22 kW'],
 ['2x CCS2: 60 kW'],
 ['2x CCS2: 60 kW', ' 2x Type2: 22 kW'],
 ['2x CCS2: 60 kW', ' 2x Type2: 22 kW'],
 ['2x CCS2: 60 kW', ' 2x Type2: 22 kW'],
 ['2x CCS2: 60 kW', ' 2x Type2: 22 kW'],
 ['2x CCS2: 60 kW', ' 2x Type2: 22 kW'],
 ['2x CCS2: 60 kW', ' 2x Type2: 22 kW'],
 ['2x CCS2: 60 kW', ' 2x Type2: 22 kW'],
 ['2x CCS2: 60 kW', ' 2x Type2: 22 kW'],
 ['2x CCS2: 60 kW', ' 2x Type2: 22 kW'],
 ['2x CCS2: 60 kW', ' 2x Type2: 22 kW'],
 ['2x CCS2: 60 kW', ' 2x Type2: 22 kW'],
 ['2x CCS2: 60 kW', ' 2x Type2: 22 kW'],
 ['2x CCS2: 60 kW', ' 2x Type2: 22 kW'],
 ['2x CCS2: 60 kW', ' 2x Type2: 22 kW'],
 ['2x CCS2: 60 kW', ' 2x Type2: 22 kW'],
 ['CCS2: 90 kW', ' CHAdeMO: 90 kW', ' Type2: 90 kW'],
 ['CCS2: 50 kW', ' Type2: 22 kW'],
 ['CCS2: 50 kW', ' Type2: 22 kW'],
 ['CCS2: 50 kW', ' Type2: 22 kW'],
 ['2x CCS2: 180 kW'],
 ['2x CCS2: 90 kW'],
 ['2x CCS2: 90 kW', ' 2x Type2: 22 kW'],
 ['2x CCS2: 90 kW'],
 ['2x CCS2: 90 kW'],
 ['2x CCS2: 90 kW'],
 ['2x CCS2: 90 kW'],
 ['2x CCS2: 90 kW'],
 ['2x CCS2: 90 kW'],
 ['2x CCS2: 90 kW'],
 ['2x CCS2: 90 kW'],
 ['2x CCS2: 90 kW'],
 ['2x CCS2: 180 kW'],
 ['2x CCS2: 90 kW'],
 ['2x CCS2: 90 kW'],
 ['2x CCS2: 90 kW'],
 ['2x CCS2: 90 kW'],
 ['2x CCS2: 90 kW'],
 ['1x CCS2'],
 ['1x CCS2'],
 ['1x CCS2'],
 ['12 Superchargers', ' available 24/7'],
 ['6 Superchargers', ' available 24/7', ' Parking Zone B near Cafe Amazon'],
 ['6 Superchargers'],
 None,
 None,
 ['CCS2: 30 kW', ' Type2: 22 kW'],
 ['2x CCS2: 47 kW'],
 ['CCS2: 30 kW', ' Type2: 22 kW'],
 ['2x CCS2: 120 kW'],
 ['6x CCS2: 120 kW'],
 ['CCS2: 15 kW', ' Type2: 7 kW'],
 ['2x CCS2: 120 kW'],
 ['CCS2: 30 kW'],
 ['CCS2: 30 kW', ' Type2: 22 kW'],
 ['2x CCS2: 40 kW', ' 4x CCS2: 60 kW', ' 4x Type2: 22 kW', ' Type2: 7 kW'],
 ['CCS2: 60 kW', ' Type2: 22 kW'],
 ['CCS2: 50 kW', ' CHAdeMO: 50 kW', ' Type2: 22 kW'],
 ['CCS2: 30 kW'],
 ['2x CCS2: 47 kW', ' 2x Type2: 22 kW'],
 ['1x CCS2']]

In [23]:
ccs2_list = []
type2_list = []
chademo_list = []
superchargers_list = []

for row in etc_chargecore:
    if row is not None:

        ccs2_count = 0
        type2_count = 0
        chademo_count = 0
        superchargers_count = 0
        
        for chargetype in row:
            if 'ccs2' in chargetype.lower().replace(' ',''):
                if 'x' in chargetype:
                    before_x = chargetype[chargetype.index('x') - 1]
                    after_x = chargetype[chargetype.index('x') + 1]
                    if before_x.isdigit():
                        ccs2_count += int(before_x)
                    elif after_x.isdigit():
                        ccs2_count += int(after_x)
                    else:
                        ccs2_count += 1
                else:
                    ccs2_count += 1
            elif 'type2' in chargetype.lower().replace(' ',''):
                if 'x' in chargetype:
                    before_x = chargetype[chargetype.index('x') - 1]
                    after_x = chargetype[chargetype.index('x') + 1]
                    if before_x.isdigit():
                        type2_count += int(before_x)
                    elif after_x.isdigit():
                        type2_count += int(after_x)
                    else:
                        type2_count += 1
                else:
                    type2_count += 1
            elif 'chademo' in chargetype.lower().replace(' ',''):
                if 'x' in chargetype:
                    before_x = chargetype[chargetype.index('x') - 1]
                    after_x = chargetype[chargetype.index('x') + 1]
                    if before_x.isdigit():
                        chademo_count += int(before_x)
                    elif after_x.isdigit():
                        chademo_count += int(after_x)
                    else:
                        chademo_count += 1
                else:
                    chademo_count += 1
            elif 'superchargers' in chargetype.lower():
                superchargers_digit = int(chargetype.split(' ')[0])
                superchargers_count += superchargers_digit
        
        ccs2_list.append(ccs2_count)
        type2_list.append(type2_count)
        chademo_list.append(chademo_count)
        superchargers_list.append(superchargers_count)

    else:
        ccs2_list.append(0)
        type2_list.append(0)
        chademo_list.append(0)
        superchargers_list.append(0)

In [24]:
etc_data['Type1'] = etc_data['ChargeCoreDescription'].apply(lambda x : 'type1' in x.lower().replace(' ','') if type(x) == str else None)
etc_data['Type1Count'] = [None] * len(etc_data)
etc_data['Type2'] = etc_data['ChargeCoreDescription'].apply(lambda x : 'type2' in x.lower().replace(' ','') if type(x) == str else None)
etc_data['Type2Count'] = type2_list
etc_data['CCS2'] = etc_data['ChargeCoreDescription'].apply(lambda x : 'ccs2' in x.lower().replace(' ','') if type(x) == str else None)
etc_data['CCS2Count'] = ccs2_list
etc_data['CHAdeMO'] = etc_data['ChargeCoreDescription'].apply(lambda x : 'chademo' in x.lower().replace(' ','') if type(x) == str else None)
etc_data['CHAdeMOCount'] = chademo_list
etc_data['Superchargers'] = etc_data['ChargeCoreDescription'].apply(lambda x : 'superchargers' in x.lower().replace(' ','') if type(x) == str else None)
etc_data['SuperchargersCount'] = superchargers_list
etc_data

,Name,Description,styleUrl,NameEN,Power,ChargeCoreDescription,Address,Latitude,Longitude,Provider,...,Type1,Type1Count,Type2,Type2Count,CCS2,CCS2Count,CHAdeMO,CHAdeMOCount,Superchargers,SuperchargersCount
0,กรมส่งเสริมอุตสาหกรรม พระราม 6,Name-EN: <br>Power: 10 kW<br>Description: <br>...,#icon-1899-DB4436-labelson,None,10 kW,None,None,13.762979,100.527844,etc: EVolt,...,None,None,None,0,None,0,None,0,None,0
1,กรมส่งเสริมอุตสาหกรรม กล้วยน้ำไท,Name-EN: <br>Power: 10 kW<br>Description: <br>...,#icon-1899-DB4436-labelson,None,10 kW,None,None,13.709785,100.585818,etc: EVolt,...,None,None,None,0,None,0,None,0,None,0
2,ศูนย์ส่งเสริมอุตสาหกรรม ขอนแก่น,Name-EN: <br>Power: 10 kW<br>Description: <br>...,#icon-1899-DB4436-labelson,None,10 kW,None,None,16.563125,102.822762,etc: EVolt,...,None,None,None,0,None,0,None,0,None,0
3,ศูนย์ส่งเสริมอุตสาหกรรม เชียงใหม่,Name-EN: <br>Power: 10 kW<br>Description: <br>...,#icon-1899-DB4436-labelson,None,10 kW,None,None,18.791344,99.017955,etc: EVolt,...,None,None,None,0,None,0,None,0,None,0
4,66 Tower,Name-EN: <br>Power: 100 kW<br>Description: <br...,#icon-1899-DB4436-labelson,None,100 kW,None,None,13.681871,100.610011,etc: EVolt,...,None,None,None,0,None,0,None,0,None,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
126,บี-ชาร์จ,Name-EN: <br>Power: 60 kW<br>Description: CCS2...,#icon-1787-DB4436-labelson,None,60 kW,"CCS2: 60 kW, Type2: 22 kW",None,13.694951,100.677935,etc: Galvanic,...,False,None,True,1,True,1,False,0,False,0
127,วิทยาลัยเทคนิคพนมสารคาม,Name-EN: <br>Power: 50 kW<br>Description: CCS2...,#icon-1787-DB4436-labelson,None,50 kW,"CCS2: 50 kW, CHAdeMO: 50 kW, Type2: 22 kW",401 หมู่่ที่ 3 ตำบล เกาะขนุน อำเภอ พนมสารคาม จ...,13.713209,101.383258,etc: Galvanic,...,False,None,True,1,True,1,True,1,False,0
128,สถานีศิริประภา,Name-EN: <br>Power: 30 kW<br>Description: CCS2...,#icon-1787-DB4436-labelson,None,30 kW,CCS2: 30 kW,None,13.955996,100.454211,etc: Galvanic,...,False,None,False,0,True,1,False,0,False,0
129,ไอซีเอส,Name-EN: <br>Power: 47 kW<br>Description: 2x C...,#icon-1787-DB4436-labelson,None,47 kW,"2x CCS2: 47 kW, 2x Type2: 22 kW",10600,13.726600,100.508658,etc: Galvanic,...,False,None,True,2,True,2,False,0,False,0
130,EV Coffeehouse,Name-EN: <br>Power: 30 kW<br>Description: 1x C...,#icon-1899-DB4436-labelson,None,30 kW,1x CCS2,"39, 3, Khao Mai Kaeo, Bang Lamung District, Ch...",12.917569,101.020367,etc: OneCharge,...,False,None,False,0,True,1,False,0,False,0

## EA

In [25]:
ea_data = fetchdata('EA')
ea_data.head(3)

---Connection Successful---

,Name,Description,styleUrl,Hours,Power,ChargeCoreDescription,Address,Latitude,Longitude,Provider,Coordinates
0,ICONSIAM (B1 Zone Gold),Hours: Peak<br>Power: 38 kW<br>Description: Ty...,#icon-1899-DB4436-labelson,Peak,38 kW,"Type1: 11 kW\nType2: 7x 11 kW\nCCS2: 38 kW, CL...","คลองต้นไทร, คลองสาน, กรุงเทพมหานคร",13.726441,100.510086,EA,"\n 100.510086,13.726441,0\n"
1,ศูนย์การแพทย์วิชัยยุทธ,Hours: 24 Hr<br>Power: 40 kW<br>Description: C...,#icon-1899-DB4436-labelson,24 Hr,40 kW,CCS2: 40 kW\nParking,"สามเสนใน, พญาไท, กรุงเทพมหานคร",13.780432,100.533100,EA,"\n 100.5331,13.780432,0\n"
2,ซัสโก้ สาขาบางบำหรุ,Hours: Closed<br>Power: 0 kW<br>Description: C...,#icon-1899-DB4436-labelson,Closed,0 kW,CCS2: CLOSED\nType2: CLOSED\nParking,"บางบำหรุ, บางพลัด, กรุงเทพมหานคร",13.785289,100.471290,EA,"\n 100.47129,13.785289,0\n"

### ChargeCoreDescription

In [26]:
# แยก Type ข้อมูลในแต่ละแถว
split_chargecore = ea_data["ChargeCoreDescription"].apply(lambda x : x.lower().split("\n"))
split_chargecore

0      [type1: 11 kw, type2: 7x 11 kw, ccs2: 38 kw, c...
1                                 [ccs2: 40 kw, parking]
2                 [ccs2: closed, type2: closed, parking]
3                         [ccs2: 75 kw, closed, parking]
4           [ccs2: 103 kw, 200a, type2: closed, parking]
                             ...
356         [ccs2: 100 kw, 200a, type2: closed, parking]
357        [ccs2: 50 kw, closed, type2: closed, parking]
358             [ccs2: 2x 50 kw, type2: closed, parking]
359    [type2: 22 kw, closed, ccs2: 50 kw, closed, pa...
360             [ccs2: 2x 40 kw, type2: closed, parking]
Name: ChargeCoreDescription, Length: 361, dtype: object

In [27]:
list_ccs2_count = []
list_type1_count = []
list_type2_count = []

for array in split_chargecore:
    ccs2_count = 0
    type1_count = 0
    type2_count = 0

    for data in array:
        if "ccs2" in data or "type1" in data or "type2" in data:
            if "ccs2" in data:
                if "x" in data:
                    find_colon = data.find(":")
                    find_x = data.find("x")
                    ccs2_count += int(data[find_colon + 2:find_x])
                else:
                    ccs2_count += 1

            elif "type1" in data:
                if "x" in data:
                    find_colon = data.find(":")
                    find_x = data.find("x")
                    type1_count += int(data[find_colon + 2:find_x])
                else:
                    type1_count += 1
            
            elif "type2" in data:
                if "x" in data:
                    find_colon = data.find(":")
                    find_x = data.find("x")
                    type2_count += int(data[find_colon + 2:find_x])
                else:
                    type2_count += 1

    list_ccs2_count.append(ccs2_count)
    list_type1_count.append(type1_count)
    list_type2_count.append(type2_count)

In [28]:
ea_data["Type1"] = ea_data["ChargeCoreDescription"].apply(lambda x : 'type1' in x.lower().replace(' ','') if type(x) == str else None)
ea_data["Type1Count"] = list_type1_count

ea_data["Type2"] = ea_data["ChargeCoreDescription"].apply(lambda x : 'type2' in x.lower().replace(' ','') if type(x) == str else None)
ea_data["Type2Count"] = list_type2_count

ea_data["CCS2"] = ea_data["ChargeCoreDescription"].apply(lambda x : 'ccs2' in x.lower().replace(' ','') if type(x) == str else None)
ea_data["CCS2Count"] = list_ccs2_count

## EleX

In [29]:
elex_data = fetchdata('EleX')
elex_data.head()

---Connection Successful---

,Name,Description,styleUrl,Power,ChargeCoreDescription,Address,Latitude,Longitude,Provider,Coordinates
0,โรงไฟฟ้าบางปะกง,Power: 90 kW<br>Description: CCS2 90 kW<br>Add...,#icon-1899-DB4436-labelson,90 kW,CCS2 90 kW,เลขที่4 หมู่6 ต.ท่าข้าม อ.บางปะกง จ.ฉะเชิงเทรา...,13.495069,101.023054,EleX,"\n 101.023054,13.495069,0\n"
1,โรงไฟฟ้าน้ำพอง,Power: 90 kW<br>Description: CCS2 90 kW<br>Add...,#icon-1899-DB4436-labelson,90 kW,CCS2 90 kW,262 หมู่ที่ 1 ต.กุดน้ำใส อ.น้ำพอง จ.ขอนแก่น,16.679187,102.737605,EleX,"\n 102.737605,16.679187,0\n"
2,โรงไฟฟ้าแม่เมาะ,Power: 90 kW<br>Description: CCS2 90 kW<br>CCS...,#icon-1899-DB4436-labelson,90 kW,CCS2 90 kW\nCCS2 90 kW,800 หมู่ 6 ต.แม่เมาะ อ.แม่เมาะ จ.ลำปาง,18.300175,99.746251,EleX,"\n 99.746251,18.300175,0\n"
3,โรงพยาบาลกรุงเทพ พัทยา,"Power: 100 kW<br>Description: CCS2 100 kW, CHA...",#icon-1899-DB4436-labelson,100 kW,"CCS2 100 kW, CHAdeMO 100 kW\nType2 22 kW\nType...",301 หมู่ที่ 6 ถ. สุขุมวิท เมืองพัทยา อำเภอบางล...,12.953918,100.905935,EleX,"\n 100.905935,12.953918,0\n"
4,PT ลำปาง,Power: 125 kW<br>Description: 2x CCS2 125 kW (...,#icon-1899-DB4436-labelson,125 kW,2x CCS2 125 kW (300A),102 หมู่ที่10 ตำบลปงแสนทอง อำเภอเมืองลำปาง จัง...,18.295663,99.415306,EleX,"\n 99.415306,18.295663,0\n"

In [30]:
def count_charge_heads(description):
    types = ['CCS2', 'CHAdeMO', 'Type2']
    counts = {'CCS2': 0, 'CHAdeMO': 0, 'Type2': 0}
    charge_list = description.split('\n')
    
    for charge in charge_list:
        for charge_type in types:
            if charge_type in charge:
                count = 2 if charge.startswith('2x') else 1 
                counts[charge_type] += count
    
    return counts

In [31]:
def create_new_columns(row):
    counts = row['Counts']
    CCS2 = counts.get('CCS2', 0)
    CHAdeMO = counts.get('CHAdeMO', 0)
    Type2 = counts.get('Type2', 0)
    ccs2_indicator = True if CCS2 > 0 else False
    chademo_indicator = True if CHAdeMO > 0 else False
    type2_indicator = True if Type2 > 0 else False
    
    return pd.Series({
        'CCS2type': ccs2_indicator, 
        'countcss2': CCS2, 
        'CHAdeMOtype': chademo_indicator, 
        'countCHAdeMO': CHAdeMO, 
        'type2': type2_indicator,  
        'counttype2': Type2
    })

In [32]:
elex_data['Counts'] = elex_data['ChargeCoreDescription'].apply(count_charge_heads)
elex_data[['CCS2', 'CCS2Count', 'CHAdeMO', 'CHAdeMOCount', 'Type2', 'Type2Count']] = elex_data.apply(create_new_columns, axis=1)
elex_data.drop('Counts', axis=1, inplace=True)
elex_data.head()

,Name,Description,styleUrl,Power,ChargeCoreDescription,Address,Latitude,Longitude,Provider,Coordinates,CCS2,CCS2Count,CHAdeMO,CHAdeMOCount,Type2,Type2Count
0,โรงไฟฟ้าบางปะกง,Power: 90 kW<br>Description: CCS2 90 kW<br>Add...,#icon-1899-DB4436-labelson,90 kW,CCS2 90 kW,เลขที่4 หมู่6 ต.ท่าข้าม อ.บางปะกง จ.ฉะเชิงเทรา...,13.495069,101.023054,EleX,"\n 101.023054,13.495069,0\n",True,1,False,0,False,0
1,โรงไฟฟ้าน้ำพอง,Power: 90 kW<br>Description: CCS2 90 kW<br>Add...,#icon-1899-DB4436-labelson,90 kW,CCS2 90 kW,262 หมู่ที่ 1 ต.กุดน้ำใส อ.น้ำพอง จ.ขอนแก่น,16.679187,102.737605,EleX,"\n 102.737605,16.679187,0\n",True,1,False,0,False,0
2,โรงไฟฟ้าแม่เมาะ,Power: 90 kW<br>Description: CCS2 90 kW<br>CCS...,#icon-1899-DB4436-labelson,90 kW,CCS2 90 kW\nCCS2 90 kW,800 หมู่ 6 ต.แม่เมาะ อ.แม่เมาะ จ.ลำปาง,18.300175,99.746251,EleX,"\n 99.746251,18.300175,0\n",True,2,False,0,False,0
3,โรงพยาบาลกรุงเทพ พัทยา,"Power: 100 kW<br>Description: CCS2 100 kW, CHA...",#icon-1899-DB4436-labelson,100 kW,"CCS2 100 kW, CHAdeMO 100 kW\nType2 22 kW\nType...",301 หมู่ที่ 6 ถ. สุขุมวิท เมืองพัทยา อำเภอบางล...,12.953918,100.905935,EleX,"\n 100.905935,12.953918,0\n",True,1,True,1,True,2
4,PT ลำปาง,Power: 125 kW<br>Description: 2x CCS2 125 kW (...,#icon-1899-DB4436-labelson,125 kW,2x CCS2 125 kW (300A),102 หมู่ที่10 ตำบลปงแสนทอง อำเภอเมืองลำปาง จัง...,18.295663,99.415306,EleX,"\n 99.415306,18.295663,0\n",True,2,False,0,False,0

## MG

In [33]:
mg_data = fetchdata('MG')
mg_data['CCS2'] = mg_data['ChargeCoreDescription'].apply(lambda x : 'ccs2' in x.lower().replace(' ','') if type(x) == str else None)
mg_data['CCS2Count'] = mg_data['ChargeCoreDescription'].apply(lambda x : 2 if type(x) == str else 0)
mg_data.head()

---Connection Successful---

,Name,Description,styleUrl,Power,Dealership,ChargeCoreDescription,Address,Latitude,Longitude,Provider,Coordinates,CCS2,CCS2Count
0,MG ลักซูรี่ ทุ่งสง,Power: <br>Dealership: Dealership<br>Descripti...,#icon-1899-DB4436-labelson,None,Dealership,None,อำเภอทุ่งสง จังหวัดนครศรีธรรมราช,8.172660,99.640620,MG,"\n 99.64062,8.17266,0\n",None,0
1,MG ลักซูรี่ หาดใหญ่ (สาขาพังงา),Power: <br>Dealership: Dealership<br>Descripti...,#icon-1899-DB4436-labelson,None,Dealership,None,4/3 หมู่10 ตำบลโคกกลอย อำเภอตะกั่วทุ่ง จังหวัด...,8.284749,98.306063,MG,"\n 98.306063,8.284749,0\n",None,0
2,MG แพร่ (2019),Power: <br>Dealership: Dealership<br>Descripti...,#icon-1899-DB4436-labelson,None,Dealership,None,173 หมู่ที่ 7 บ้านสองแคว ถนนยันตรกิจโกศล ตำบล ...,18.120310,100.140221,MG,"\n 100.1402213,18.1203095,0\n ...",None,0
3,MG วัชรเซลส์ แอนด์ เซอร์วิส,Power: <br>Dealership: Dealership<br>Descripti...,#icon-1899-DB4436-labelson,None,Dealership,None,111 หมู่ 10 ตำบลหนองยาว อำเภอเมือง จังหวัดสระบ...,14.481027,100.912035,MG,"\n 100.912035119649,14.481027051783...",None,0
4,MG พระนคร (ถนนกาญจนาภิเษก),Power: <br>Dealership: Dealership<br>Descripti...,#icon-1899-DB4436-labelson,None,Dealership,None,612 ถนนกาญจนาภิเษก แขวงบางไผ่ เขตบางแค กรุงเทพ...,13.736683,100.406337,MG,"\n 100.4063373,13.7366826,0\n ...",None,0

## PEA

In [34]:
pea_data = fetchdata('PEA')
pea_data.head()

---Connection Successful---

,Name,Description,styleUrl,Power,Address,Latitude,Longitude,Provider,Coordinates
0,บางจาก บายพาสชลบุรี,Power: 50 kW<br>Description: 99/1 ม.4 ถ.สายอ้อ...,#icon-1899-DB4436-labelson,50 kW,99/1 ม.4 ถ.สายอ้อมเมืองชลบุรี ต.หนองไม้แดง อ.เ...,13.413393,100.999695,PEA,"\n 100.99969482,13.41339302,0\n ..."
1,สำนักงานใหญ่,Power: 50 kW<br>Description: 200 ถนนงามวงศ์วาน...,#icon-1899-DB4436-labelson,50 kW,200 ถนนงามวงศ์วาน แขวงลาดยาว เขตจตุจักร จ.กรุง...,13.850428,100.558578,PEA,"\n 100.55857849,13.85042763,0\n ..."
2,แพร่,Power: 50 kW<br>Description: หมู่ 8 189 ต.นาจั...,#icon-1899-DB4436-labelson,50 kW,หมู่ 8 189 ต.นาจักร อ.เมือง จ.แพร่ 54000 PEA V...,18.114838,100.148872,PEA,"\n 100.14887238,18.11483765,0\n ..."
3,บางจาก นครราชสีมา (กม. 141),Power: 50 kW<br>Description: 1587/1 ถ.มิตรภาพ ...,#icon-1899-DB4436-labelson,50 kW,1587/1 ถ.มิตรภาพ ต.บ้านใหม่ อ.เมือง จ.นครราชสี...,14.957312,102.041000,PEA,"\n 102.04100037,14.95731163,0\n ..."
4,บางจาก เมืองตาก,Power: 50 kW<br>Description: 9 ม.5 ต.เชียงเงิน...,#icon-1899-DB4436-labelson,50 kW,9 ม.5 ต.เชียงเงิน อ.เมืองตาก จ.ตาก 63000 PEA V...,16.878792,99.129066,PEA,"\n 99.12906647,16.87879181,0\n ..."

# Join df

In [35]:
df = pd.concat([ptt_data, pea_data, elex_data, altervim_data, ea_data, etc_data, mg_data], axis=0).reset_index(drop=True)
df['Coordinates'] = df['Coordinates'].apply(lambda x : tuple(x.replace('\n','').replace(' ','').split(',')) if type(x) == str else x)
df.reset_index(drop=True, inplace=True)
df

,Name,Description,styleUrl,NameEN,Power,ChargeCoreDescription,Address,Latitude,Longitude,Provider,...,Type2,Type2Count,CCS2,CCS2Count,CHAdeMO,CHAdeMOCount,Hours,Superchargers,SuperchargersCount,Dealership
0,ปตท บจ.พงษ์กิต 7 (บายพาส),Name-EN: PTT Pongkit Branch 7 (Bypass)<br>Powe...,#icon-1899-DB4436-labelson,PTT Pongkit Branch 7 (Bypass),120 kW,ChargeCore NKR-ADC: 2x CCS2 (1000V 200A),สาขา 7 325 ม.1 ต.ปรุใหญ่ อ.เมืองนครราชสีมา นคร...,14.986124,102.052181,PTT,...,False,0,True,2,NaN,NaN,NaN,NaN,NaN,NaN
1,โรบินสัน สไตล์ สมุทรปราการ,Name-EN: Robinson Lifestyle Samut Prakan<br>Po...,#icon-1899-DB4436-labelson,Robinson Lifestyle Samut Prakan,120 kW,"ChargeCore NKR: 2x CCS2, Type 2 (1000V 200A)",789 หมู่ 2 ถนนสุขุมวิท ตำบลท้ายบ้านใหม่ อำเภอเ...,13.583810,100.609540,PTT,...,True,1,True,2,NaN,NaN,NaN,NaN,NaN,NaN
2,ปตท ราษฎร์บูรณะ ขาออก,Name-EN: PTT Rat Burana (OB)<br>Power: 120 kW<...,#icon-1899-DB4436-labelson,PTT Rat Burana (OB),120 kW,ChargeCore NKR-ADC: 2x CCS2 (1000V 200A)\nIOCh...,193/2 ถ.ราษฎร์บูรณะ แขวงบางปะกอก เขตราษฎร์บูรณ...,13.683377,100.499078,PTT,...,True,1,True,2,NaN,NaN,NaN,NaN,NaN,NaN
3,ปตท หจก.วีรชัยหล่มสักเซอร์วิส,Name-EN: PTT Werachai Lomsak Service<br>Power:...,#icon-1899-DB4436-labelson,PTT Werachai Lomsak Service,120 kW,ChargeCore NKR: 2x CCS2 (1000V 200A),239/102 ม.1 ต.ชอนไพร อ.เมืองเพชรบูรณ์ เพชรบูรณ...,16.387053,101.126884,PTT,...,False,0,True,2,NaN,NaN,NaN,NaN,NaN,NaN
4,ปตท แอลพีจี บจก.ทรัพย์นิรันดร์ ปิโตรเลียม,Name-EN: LPG Auto Station Subnirun Petroleum C...,#icon-1899-DB4436-labelson,"LPG Auto Station Subnirun Petroleum Co., Ltd",120 kW,"ChargeCore NKR: 2x CCS2, Type 2 (1000V 200A)",459 หมู่ 2 ตำบลหนองดินแดง อำเภอเมืองนครปฐม นคร...,13.799015,99.983655,PTT,...,True,1,True,2,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1952,วี.จี. คาร์ (สาขากระบี่),Power: <br>Dealership: Non-dealership<br>Descr...,#icon-1899-DB4436-labelson,NaN,None,None,"60 Moo 2, Petchkasem Rd., Krabinoi Sub-Distric...",6.415738,101.810615,MG,...,NaN,NaN,None,0,NaN,NaN,NaN,NaN,NaN,Non-dealership
1953,MG เบส ออโต้ เซลส์,Power: <br>Dealership: Dealership<br>Descripti...,#icon-1899-DB4436-labelson,NaN,None,None,1687/1 ถนนเพชรเกษม แขวงหลักสอง เขตบางแค กรุงเท...,13.708323,100.384271,MG,...,NaN,NaN,None,0,NaN,NaN,NaN,NaN,NaN,Dealership
1954,MG รุ่งเจริญ (สาขาบางนา กม.26),Power: <br>Dealership: Dealership<br>Descripti...,#icon-1899-DB4436-labelson,NaN,None,None,345 หมู่ 7 ถนนบางนา-ตราด ตำบลบางเสาธง อำเภอบาง...,13.590022,100.829638,MG,...,NaN,NaN,None,0,NaN,NaN,NaN,NaN,NaN,Dealership
1955,บางจาก ปากน้ำ,Power: <br>Dealership: Non-dealership<br>Descr...,#icon-1899-DB4436-labelson,NaN,None,None,125/2 ถนนสุขุมวิท ตำบลปากน้ำ อำเภอเมืองสมุทรปร...,13.596901,100.604198,MG,...,NaN,NaN,None,0,NaN,NaN,NaN,NaN,NaN,Non-dealership
1956,บางจาก พหลโยธิน กม.26,Power: <br>Dealership: Non-dealership<br>Descr...,#icon-1899-DB4436-labelson,NaN,None,None,พหลโยธิน 73 (ซอยหงวน เหวียนระวิ) แขวงสนามบิน เ...,13.936793,100.624480,MG,...,NaN,NaN,None,0,NaN,NaN,NaN,NaN,NaN,Non-dealership